
/* Close Button Styles */
.close-button {
    width: var(--button-size);
    height: var(--button-size);
    position: absolute;
    right: 2.55rem;
    top: 2px;
    z-index: 100110;
    cursor: pointer;
  }
  
  .close-button > div {
    position: absolute;
  }
  
  .close-button-black,
  .close-button-white {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .close-button-black:before,
  .close-button-black:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 20px;
    transform-origin: bottom center;
    background: black;
    transition: all ease-out 280ms;
  }
  .close-button-white:before,
  .close-button-white:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 20px;
    transform-origin: bottom center;
    background: white;
    transition: all ease-out 280ms;
  }
  
  
  
  .close-button-black:last-of-type,
  .close-button-white:last-of-type {
    transform: rotate(180deg);
  }
  
  /* Animation Classes */
  .in .close-button-black:before,
  .in .close-button-white:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
  }
  
  .in .close-button-black:after,
  .in .close-button-white:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
  }
  
  .out {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .out .close-button-black:before,
  .out .close-button-white:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  
  .out .close-button-black:after,
  .out .close-button-white:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  
  /* Hover State */
  .close-button:hover .in .close-button-black:before,
  .close-button:hover .in .close-button-white:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  
  .close-button:hover .in .close-button-black:after,
  .close-button:hover .in .close-button-white:after{
    transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  
  .close-button:hover .out .close-button-black:before,
  .close-button:hover .out .close-button-white:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
  }
  
  .close-button:hover .out .close-button-black:after,
  .close-button:hover .out .close-button-white:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
  }
  
  