  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
  @import url("https://use.typekit.net/bmk0huk.css");
  
  @import url('https://fonts.googleapis.com/css?family=Mulish:400');

  *, *::before, *::after {
    padding: 0;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* margin: 0;
    padding: 0; */
  }
  
  body {
  font-family: "Mulish", 'sans-serif';
  overflow: hidden;
}

// IMPORTED HIEARCHY TYPESCALE

h1, h2, h3, h4, h5 {
  /* margin: 3rem 0 1.38rem; */
  font-family: 'Mulish', sans-serif;
  /* font-weight: 400; */
  line-height: 1.3;
}


.about-me h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

.about-me .social-media-icons img {
  box-shadow: 3px 3px 3px gray;
}
.about-me .social-media-icons img:hover {
  box-shadow: 5px 5px 5px gray;
}



h2 {
  font-size: 2.441rem;
  font-style: italic;
}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

p {
  /* font-size: 1rem; */
  font-weight: 700;
  line-height: 1.6;
}




.nav.visible  {
  transform: translateY(0);
  opacity: 1;
}

.nav.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}





/* LOGOS OF PROFICIENCIES */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    /* width: 10rem;
    min-width: 10rem; */
    /* 10 BIG */
    /* 30 SMALL */
    margin: 0;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    color: black;
    font-size: 21px;
    cursor: pointer;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    margin: 0 2rem;
  }

  .box.default {
    width: 9rem;
    min-width: 9rem;
    /* width: 10rem;
    min-width: 10rem; */
  }
  .box.empty {
    width: 0rem;
    min-width: 0rem;
  }

  .no-select {
    user-select: none;
  }
  
  .wrapper {
  width: 100%;
  height: 10rem;
  background: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0rem 0 2rem 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .45);
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.wrapper:before,
.wrapper:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.wrapper:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255, 0), #fff);
}

.wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255, 0), #fff);
}




/* COOL BUTTON */

.contact-btn {
  opacity: 0;
  z-index: 9998;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1rem;
  width: 110px;
  height: 90px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.contact-btn span {
  color: black;
  margin: auto;
  text-align:center;
  font-size: 1.23rem;
}

.contact-btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 110px;
  height: 90px;
  background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 2s linear infinite;
}
.contact-btn::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 110px;
  height: 90px;
  background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 2s linear infinite;
  animation-delay: -1s;
}

/* .borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}
.borderLine::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 150px;
  height: 80px;
  background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.borderLine::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 150px;
  height: 80px;
  background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
} */

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact-btn div {
  position: absolute;
  inset: 5px;
  background: #444;
  /* background: #222; */
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 111112;
  display: flex;
  flex-direction: column;
}



/* BUTTON 3 */

#button-3{
  border: 2px solid #34495e;
  color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-3:before, #button-3:after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #45f3ff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-3:after{
  left: 100%;
}

#button-3:hover .contact{
  color: #fff;
}

#button-3:hover:before{
  left: 0;
}

#button-3:hover:after{
  left: 50%;
}



#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 20px #45f3ff;
  box-shadow: 0px 0px 20px #45f3ff;
}

/* 
.box2 form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.box2 form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box2 form .inputBox input {
  position: relative;
  width: 100%;
  border: none;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10000000;
}

.box2 form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box2 form .inputBox input:valid ~ span, 
.box2 form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.box2 form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box2 form .inputBox input:valid ~ i, 
.box2 form .inputBox input:focus ~ i {
  height: 44px;
}

.box2 form .links {
  display: flex;
  justify-content: space-between;
}

.box2 form .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.box2 form .links a:hover,
.box2 form .links a:nth-child(2) {
  color: #fff;
}

.box2 form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}

.box2 form input[type="submit"]:active {
  opacity: 0.8;
} */



// CLOSE BUTTON PROJECTS PAGE!!!

/* CSS Variables */
:root {
  --button-size: 40px;
  --close-width: calc(var(--button-size) / 10);
}

/* Close Button Styles */
.close-button {
  width: var(--button-size);
  height: var(--button-size);
  position: absolute;
  right: 2.55rem;
  top: 2px;
  z-index: 9999;
  cursor: pointer;
}

.close-button > div {
  position: absolute;
}

.close-button-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.close-button-block:before,
.close-button-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 20px;
  transform-origin: bottom center;
  background: black;
  transition: all ease-out 280ms;
}

.close-button-block:last-of-type {
  transform: rotate(180deg);
}

/* Animation Classes */
.in .close-button-block:before {
  transition-delay: 280ms;
  transform: translateX(20px) translateY(-20px) rotate(45deg);
}

.in .close-button-block:after {
  transition-delay: 280ms;
  transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}

.out {
  position: absolute;
  top: 0;
  left: 0;
}

.out .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.out .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}

/* Hover State */
.close-button:hover .in .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close-button:hover .in .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close-button:hover .out .close-button-block:before {
  transform: translateX(-20px) translateY(20px) rotate(45deg);
}

.close-button:hover .out .close-button-block:after {
  transform: translateX(20px) translateY(20px) rotate(-45deg);
}