  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

  *, *::before, *::after {
    padding: 0;
    margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Mulish", 'sans-serif';
}

.nav.visible  {
  transform: translateY(0);
  opacity: 1;
  }

.nav.hidden {
  transform: translateY(-100%);
  opacity: 0;
}


/* HERO LAYERS */
.bg-img {
  object-fit: cover;
  position: absolute;
  width: 1920px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 1;
}

.dove {
  position: absolute;
  width: 126px;
  top: calc(50% - 230px);
  left: calc(50% - 676px);
  /* top: 100px; */
  z-index: 2;
  transform: translate(-50%, -50%);
}

.cloud-main-back {
  position: absolute;
  width: 1700px;
  top: calc(50% + 271px);
  left: calc(50% - 0px);
  /* top: 100px; */
  /* background-color: blue; */
  z-index: 3;
  transform: translate(-50%, -50%);
}

.cloud-main-front {
  position: absolute;
  width: 1460px;
  top: calc(50% + 286px);
  left: calc(50% - 0px);
  /* top: 100px; */
  /* background-color: red;  */
  z-index: 4;
  transform: translate(-50%, -50%);
}

.cloud-bg-4 {
  position: absolute;
  width: 190px;
  top: calc(50% - 99px);
  left: calc(50% - 536px);
  /* top: 100px; */
  z-index: 5;
  transform: translate(-50%, -50%);
}

.cloud-bg-3 {
  position: absolute;
  width: 250px;
  top: calc(50% - 250px);
  left: calc(50% - 150px);
  /* top: 100px; */
  z-index: 6;
  transform: translate(-50%, -50%);
}

.cloud-bg-2 {
  position: absolute;
  width: 185px;
  top: calc(50% - 225px);
  left: calc(50% + 530px);
  /* top: 100px; */
  z-index: 7;
  transform: translate(-50%, -50%);
}

.cloud-bg-1 {
  position: absolute;
  width: 380px;
  top: calc(50% - 125px);
  left: calc(50% - 950px);
  /* top: 100px; */
  z-index: 8;
  transform: translate(-50%, -50%);
}

.jesus-flag {
  position: absolute;
  width: 144px;
  top: calc(50% + 100px);
  left: calc(50% - 345px);
  /* top: 100px; */
  z-index: 9;
  transform: translate(-50%, -50%);
}

.pipe {
  position: absolute;
  width: 151px;
  top: calc(50% + 140px);
  left: calc(50% + 460px);
  /* top: 100px; */
  z-index: 10;
  transform: translate(-50%, -50%);
}

.haunter {
  position: absolute;
  width: 206px;
  top: calc(50% - 110px);
  left: calc(50% - 509px);
  /* top: 100px; */
  z-index: 11;
  transform: translate(-50%, -50%);
}

.boo {
  position: absolute;
  width: 129px;
  top: calc(50% - 122px);
  left: calc(50% + 586px);
  /* top: 100px; */
  z-index: 12;
  transform: translate(-50%, -50%);
}

.bernard-txt {
  position: absolute;
  width: 730px;
  top: calc(50% - 75px);
  left: calc(50% + 0px);
  /* top: 100px; */
  z-index: 13;
  transform: translate(-50%, -50%);
}

.justin-txt {
  position: absolute;
  width: 730px;
  top: calc(50% - 228px);
  left: calc(50% + 0px);
  /* top: 100px; */
  z-index: 14;
  transform: translate(-50%, -50%);
}

.hello-kitty {
  position: absolute;
  width: 147px;
  top: calc(50% + 150px);
  left: calc(50% - 512px);
  /* top: 100px; */
  z-index: 15;
  transform: translate(-50%, -50%);
}

.toad {
  position: absolute;
  width: 149px;
  top: calc(50% + 180px);
  left: calc(50% + 400px);
  /* top: 100px; */
  z-index: 16;
  transform: translate(-50%, -50%);
}

.kart {
  position: absolute;
  width: 298px;
  top: calc(50% + 218px);
  left: calc(50% - 437px);
  /* top: 100px; */
  z-index: 17;
  transform: translate(-50%, -50%);
}

.joy {
  position: absolute;
  width: 149px;
  top: calc(50% + 232px);
  left: calc(50% + 308px);
  /* top: 100px; */
  z-index: 18;
  transform: translate(-50%, -50%);
}

.pikachu {
  position: absolute;
  width: 180px;
  top: calc(50% + 235px);
  left: calc(50% - 286px);
  /* top: 100px; */
  z-index: 19;
  transform: translate(-50%, -50%);
}

.mario {
  position: absolute;
  width: 180px;
  top: calc(50% + 255px);
  left: calc(50% - 182px);
  /* top: 100px; */
  z-index: 20;
  transform: translate(-50%, -50%);
}

.mini-jesus {
  position: absolute;
  width: 233px;
  top: calc(50% + 170px);
  left: calc(50% + 200px);
  /* top: 100px; */
  z-index: 21;
  transform: translate(-50%, -50%);
}

.justin {
  position: absolute;
  width: 253px;
  top: calc(50% + 170px);
  left: calc(50% + 0px);
  /* top: 100px; */
  z-index: 22;
  transform: translate(-50%, -50%);
}
