  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

  *, *::before, *::after {
    padding: 0;
    margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Mulish", 'sans-serif';
}

.nav.visible  {
  transform: translateY(0);
  opacity: 1;
  }

.nav.hidden {
  transform: translateY(-100%);
  opacity: 0;
}


/* HERO LAYERS */
.bg-img {
  object-fit: cover;
  position: absolute;
  width: 1920px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 1;
}

.dove {
  position: absolute;
  width: 130px;
  top: calc(50% - 230px);
  left: calc(50% - 706px);
  /* top: 100px; */
  z-index: 2;
  transform: translate(-50%, -50%);
}

.cloud-main-back {
  position: absolute;
  width: 1700px;
  top: calc(50% + 271px);
  left: calc(50% - 0px);
  /* top: 100px; */
  /* background-color: blue; */
  z-index: 3;
  transform: translate(-50%, -50%);
}

.cloud-main-front {
  position: absolute;
  width: 1410px;
  top: calc(50% + 286px);
  left: calc(50% - 0px);
  /* top: 100px; */
  /* background-color: red;  */
  z-index: 4;
  transform: translate(-50%, -50%);
}